Repository josokinas/react-flow-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

deploy: 7bd592d36fc5ea60c3c0220bf0b105c4a6f52f5c
  app-45a5932b1c0fc946f332.js
  app-45a5932b1c0fc946f332.js.map
  app-a7414f2d33178afd2807.js
  app-a7414f2d33178afd2807.js.map
  b9e0c7b4-79a4aec1ca170fddbdfe.js
  b9e0c7b4-79a4aec1ca170fddbdfe.js.LICENSE.txt
  b9e0c7b4-79a4aec1ca170fddbdfe.js.map
  chunk-map.json
  component---src-pages-index-jsx-62f73841ac7f9b303279.js
  component---src-pages-index-jsx-62f73841ac7f9b303279.js.map
  component---src-pages-index-jsx-a39e64fee7fce0f0e18d.js
  component---src-pages-index-jsx-a39e64fee7fce0f0e18d.js.map
  framework-a28fc352a2b8d8859571.js
  framework-a28fc352a2b8d8859571.js.LICENSE.txt
  framework-a28fc352a2b8d8859571.js.map
  framework-de3916a124a06a1ef994.js
  framework-de3916a124a06a1ef994.js.map
  index.html
  page-data/app-data.json
  page-data/index/page-data.json
  page-data/sq/d/3159585216.json
  polyfill-d34d0e20a75f49942aef.js
  polyfill-d34d0e20a75f49942aef.js.map
  polyfill-d5a47ceea17b7c30ead1.js
  polyfill-d5a47ceea17b7c30ead1.js.map
  webpack-runtime-832291a314aeccb5022b.js
  webpack-runtime-832291a314aeccb5022b.js.map
  webpack-runtime-87f3a8afc549b57202a9.js
  webpack-runtime-87f3a8afc549b57202a9.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

deploy: bb63cf7b0ccd587f858e82d783d366c51e7791d7
  app-1fdb75a86b633e567956.js
  app-1fdb75a86b633e567956.js.map
  app-45a5932b1c0fc946f332.js
  app-45a5932b1c0fc946f332.js.map
  b9e0c7b4-235de63c302f080d9e8e.js
  b9e0c7b4-235de63c302f080d9e8e.js.LICENSE.txt
  b9e0c7b4-235de63c302f080d9e8e.js.map
  b9e0c7b4-79a4aec1ca170fddbdfe.js
  b9e0c7b4-79a4aec1ca170fddbdfe.js.map
  chunk-map.json
  component---src-pages-index-jsx-a39e64fee7fce0f0e18d.js
  component---src-pages-index-jsx-a39e64fee7fce0f0e18d.js.map
  component---src-pages-index-jsx-ef7c8341bf8f3f8e51aa.js
  component---src-pages-index-jsx-ef7c8341bf8f3f8e51aa.js.map
  index.html
  page-data/app-data.json
  styles.22bc7db10a08b31ab824.css
  styles.23b86936dfffc0909d78.css
  webpack-runtime-87f3a8afc549b57202a9.js
  webpack-runtime-87f3a8afc549b57202a9.js.map
  webpack-runtime-c380f3bee2fa325bc59e.js
  webpack-runtime-c380f3bee2fa325bc59e.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

feat: implement simple example
  .eslintrc.json
  src/components/nodes/base.jsx
  src/components/nodes/finish.jsx
  src/components/nodes/start.jsx
  src/components/nodes/task.jsx
  src/pages/index.jsx
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

deploy: 4236006ac8430cc3fe8d215d4ecdac8a2a0f61f9
  chunk-map.json
  component---src-pages-index-jsx-7fbc93d695ce9da66cf1.js
  component---src-pages-index-jsx-7fbc93d695ce9da66cf1.js.map
  component---src-pages-index-jsx-ef7c8341bf8f3f8e51aa.js
  component---src-pages-index-jsx-ef7c8341bf8f3f8e51aa.js.map
  index.html
  page-data/app-data.json
  webpack-runtime-c192b13284ade33259ee.js
  webpack-runtime-c192b13284ade33259ee.js.map
  webpack-runtime-c380f3bee2fa325bc59e.js
  webpack-runtime-c380f3bee2fa325bc59e.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

deploy: af7da79e28e64b659bb369586818950f255cf7a9
  index.html
Due: prettier --write

deploy: 46c695769874cba8f69dd60045c0211bb612924c
  app-1fdb75a86b633e567956.js
  app-1fdb75a86b633e567956.js.map
  app-9f056bfe850539e3b3db.js
  app-9f056bfe850539e3b3db.js.map
  chunk-map.json
  commons-ac037c41c98a3748afbb.js
  commons-ac037c41c98a3748afbb.js.map
  component---src-pages-index-jsx-7fbc93d695ce9da66cf1.js
  component---src-pages-index-jsx-7fbc93d695ce9da66cf1.js.map
  component---src-pages-index-jsx-c70e27ac093f3257e356.js
  component---src-pages-index-jsx-c70e27ac093f3257e356.js.map
  component---src-pages-test-1-jsx-ac584c0e03b4407a92c1.js
  component---src-pages-test-1-jsx-ac584c0e03b4407a92c1.js.map
  component---src-pages-test-2-jsx-d424b042d980b415f8b0.js
  component---src-pages-test-2-jsx-d424b042d980b415f8b0.js.map
  index.html
  page-data/app-data.json
  page-data/test_1/page-data.json
  page-data/test_2/page-data.json
  styles.22bc7db10a08b31ab824.css
  styles.38f40d12bc3ac24e7c72.css
  test_1/index.html
  test_2/index.html
  webpack-runtime-a132988eafbff217e47d.js
  webpack-runtime-a132988eafbff217e47d.js.map
  webpack-runtime-c192b13284ade33259ee.js
  webpack-runtime-c192b13284ade33259ee.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

deploy: 32f4627c0bfc05cab93594ec2b3a8a09157c5b3b
  app-9f056bfe850539e3b3db.js
  app-9f056bfe850539e3b3db.js.map
  app-d97b34516870c4cbf3e0.js
  app-d97b34516870c4cbf3e0.js.map
  chunk-map.json
  commons-3f5554a9e09585705521.js
  commons-3f5554a9e09585705521.js.map
  commons-ac037c41c98a3748afbb.js
  commons-ac037c41c98a3748afbb.js.map
  component---src-pages-index-jsx-1707198792b583b6bec4.js
  component---src-pages-index-jsx-1707198792b583b6bec4.js.map
  component---src-pages-index-jsx-c70e27ac093f3257e356.js
  component---src-pages-index-jsx-c70e27ac093f3257e356.js.map
  component---src-pages-test-1-jsx-4e1e50a82daf02b58680.js
  component---src-pages-test-1-jsx-4e1e50a82daf02b58680.js.map
  component---src-pages-test-1-jsx-ac584c0e03b4407a92c1.js
  component---src-pages-test-1-jsx-ac584c0e03b4407a92c1.js.map
  component---src-pages-test-2-jsx-9b4284b81e60f3dfef40.js
  component---src-pages-test-2-jsx-9b4284b81e60f3dfef40.js.map
  component---src-pages-test-2-jsx-d424b042d980b415f8b0.js
  component---src-pages-test-2-jsx-d424b042d980b415f8b0.js.map
  index.html
  page-data/app-data.json
  styles.38f40d12bc3ac24e7c72.css
  styles.576f5e2e63a037bc6979.css
  test_1/index.html
  test_2/index.html
  webpack-runtime-9c751437eda25b02751f.js
  webpack-runtime-9c751437eda25b02751f.js.map
  webpack-runtime-a132988eafbff217e47d.js
  webpack-runtime-a132988eafbff217e47d.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

deploy: 8efc600560d81d1452d546b73b02d955a5743adf
  chunk-map.json
  component---src-pages-index-jsx-1707198792b583b6bec4.js
  component---src-pages-index-jsx-1707198792b583b6bec4.js.map
  component---src-pages-index-jsx-741f2849a5406daf9434.js
  component---src-pages-index-jsx-741f2849a5406daf9434.js.map
  component---src-pages-test-2-jsx-339aee5143deb8d6dbb0.js
  component---src-pages-test-2-jsx-339aee5143deb8d6dbb0.js.map
  component---src-pages-test-2-jsx-9b4284b81e60f3dfef40.js
  component---src-pages-test-2-jsx-9b4284b81e60f3dfef40.js.map
  index.html
  page-data/app-data.json
  test_1/index.html
  test_2/index.html
  webpack-runtime-99e5b5016f0936bd32a0.js
  webpack-runtime-99e5b5016f0936bd32a0.js.map
  webpack-runtime-9c751437eda25b02751f.js
  webpack-runtime-9c751437eda25b02751f.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

deploy: 5cee637c73de59b383b579eeb5551d7f887d6e40
  chunk-map.json
  commons-3f5554a9e09585705521.js
  commons-3f5554a9e09585705521.js.map
  commons-778d6233f8619d2af7d1.js
  commons-778d6233f8619d2af7d1.js.map
  component---src-pages-index-jsx-741f2849a5406daf9434.js
  component---src-pages-index-jsx-741f2849a5406daf9434.js.map
  component---src-pages-index-jsx-7649a753c3b876f5cbae.js
  component---src-pages-index-jsx-7649a753c3b876f5cbae.js.map
  component---src-pages-test-1-jsx-4e1e50a82daf02b58680.js
  component---src-pages-test-1-jsx-4e1e50a82daf02b58680.js.map
  component---src-pages-test-1-jsx-e6ee43c9c540c697d13a.js
  component---src-pages-test-1-jsx-e6ee43c9c540c697d13a.js.map
  component---src-pages-test-2-jsx-339aee5143deb8d6dbb0.js
  component---src-pages-test-2-jsx-339aee5143deb8d6dbb0.js.map
  component---src-pages-test-2-jsx-ab6d6205ba7f526ae0c5.js
  component---src-pages-test-2-jsx-ab6d6205ba7f526ae0c5.js.map
  index.html
  page-data/app-data.json
  styles.576f5e2e63a037bc6979.css
  styles.6a7f5e14a6b2e57ab4ac.css
  test_1/index.html
  test_2/index.html
  webpack-runtime-85216c28c0580956d448.js
  webpack-runtime-85216c28c0580956d448.js.map
  webpack-runtime-99e5b5016f0936bd32a0.js
  webpack-runtime-99e5b5016f0936bd32a0.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

deploy: 35ebbbcd228e64122337e1fc897f49773c4e4555
  chunk-map.json
  component---src-pages-index-jsx-2ebd33a4739d42d04cb1.js
  component---src-pages-index-jsx-2ebd33a4739d42d04cb1.js.map
  component---src-pages-index-jsx-7649a753c3b876f5cbae.js
  component---src-pages-index-jsx-7649a753c3b876f5cbae.js.map
  component---src-pages-test-2-jsx-ab6d6205ba7f526ae0c5.js
  component---src-pages-test-2-jsx-ab6d6205ba7f526ae0c5.js.map
  component---src-pages-test-2-jsx-dfc9cbf4ed3d958ebbaa.js
  component---src-pages-test-2-jsx-dfc9cbf4ed3d958ebbaa.js.map
  index.html
  page-data/app-data.json
  test_1/index.html
  test_2/index.html
  webpack-runtime-2720c64ca8dba2f66cf8.js
  webpack-runtime-2720c64ca8dba2f66cf8.js.map
  webpack-runtime-85216c28c0580956d448.js
  webpack-runtime-85216c28c0580956d448.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

deploy: a3738a0cd679aa8ab59eb185bae27e859c09e447
  chunk-map.json
  component---src-pages-index-jsx-2ebd33a4739d42d04cb1.js
  component---src-pages-index-jsx-2ebd33a4739d42d04cb1.js.map
  component---src-pages-index-jsx-cbd840ccaf924039271c.js
  component---src-pages-index-jsx-cbd840ccaf924039271c.js.map
  component---src-pages-test-2-jsx-3fad5368acb546042c39.js
  component---src-pages-test-2-jsx-3fad5368acb546042c39.js.map
  component---src-pages-test-2-jsx-dfc9cbf4ed3d958ebbaa.js
  component---src-pages-test-2-jsx-dfc9cbf4ed3d958ebbaa.js.map
  index.html
  page-data/app-data.json
  styles.0bdf3632b0ad5afc07aa.css
  styles.6a7f5e14a6b2e57ab4ac.css
  test_1/index.html
  test_2/index.html
  webpack-runtime-23438f65776cf23c5132.js
  webpack-runtime-23438f65776cf23c5132.js.map
  webpack-runtime-2720c64ca8dba2f66cf8.js
  webpack-runtime-2720c64ca8dba2f66cf8.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

deploy: c8b79acbbeca609c551ad5c42e5b065d16fb2129
  chunk-map.json
  component---src-pages-index-jsx-50e20601a607093a5f89.js
  component---src-pages-index-jsx-50e20601a607093a5f89.js.map
  component---src-pages-index-jsx-cbd840ccaf924039271c.js
  component---src-pages-index-jsx-cbd840ccaf924039271c.js.map
  component---src-pages-test-2-jsx-10f01429e845b3e751dc.js
  component---src-pages-test-2-jsx-10f01429e845b3e751dc.js.map
  component---src-pages-test-2-jsx-3fad5368acb546042c39.js
  component---src-pages-test-2-jsx-3fad5368acb546042c39.js.map
  index.html
  page-data/app-data.json
  test_1/index.html
  test_2/index.html
  webpack-runtime-23438f65776cf23c5132.js
  webpack-runtime-23438f65776cf23c5132.js.map
  webpack-runtime-a973e86371eee4dbeb06.js
  webpack-runtime-a973e86371eee4dbeb06.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

feat: add workflow from json
  src/components/nodes/async_task.jsx
  src/components/nodes/base.jsx
  src/components/nodes/condition.jsx
  src/components/nodes/finish.jsx
  src/components/nodes/interactive_task.jsx
  src/components/nodes/start.jsx
  src/components/nodes/sync_task.jsx
  src/components/nodes/task.jsx
  src/data/tasks.json
  src/data/workflow.json
  src/pages/index.jsx
  src/pages/test_1.jsx
  src/pages/test_2.jsx
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

deploy: 58d7b90204199608a0659f68cba32983cd0cfb1d
  app-c90ea8b2bf4f8139247b.js
  app-c90ea8b2bf4f8139247b.js.map
  app-d97b34516870c4cbf3e0.js
  app-d97b34516870c4cbf3e0.js.map
  chunk-map.json
  component---src-pages-index-jsx-50e20601a607093a5f89.js
  component---src-pages-index-jsx-50e20601a607093a5f89.js.map
  component---src-pages-index-jsx-7d2037cc3d4deccc9d33.js
  component---src-pages-index-jsx-7d2037cc3d4deccc9d33.js.map
  component---src-pages-test-2-jsx-10f01429e845b3e751dc.js
  component---src-pages-test-2-jsx-10f01429e845b3e751dc.js.map
  component---src-pages-test-2-jsx-e134ac514100c7da4431.js
  component---src-pages-test-2-jsx-e134ac514100c7da4431.js.map
  component---src-pages-test-3-jsx-824d6c5c146ac60d5d7b.js
  component---src-pages-test-3-jsx-824d6c5c146ac60d5d7b.js.map
  index.html
  page-data/app-data.json
  page-data/test_3/page-data.json
  test_1/index.html
  test_2/index.html
  test_3/index.html
  webpack-runtime-14c9f5cf9935c9e5ef71.js
  webpack-runtime-14c9f5cf9935c9e5ef71.js.map
  webpack-runtime-a973e86371eee4dbeb06.js
  webpack-runtime-a973e86371eee4dbeb06.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

deploy: bb977b9ba93b2a3c4e07cd0955807e42230bb033
  chunk-map.json
  component---src-pages-index-jsx-7d2037cc3d4deccc9d33.js
  component---src-pages-index-jsx-7d2037cc3d4deccc9d33.js.map
  component---src-pages-index-jsx-e1f44f5029be8e94a573.js
  component---src-pages-index-jsx-e1f44f5029be8e94a573.js.map
  component---src-pages-test-3-jsx-824d6c5c146ac60d5d7b.js
  component---src-pages-test-3-jsx-824d6c5c146ac60d5d7b.js.map
  component---src-pages-test-3-jsx-d25faba175d880b3476b.js
  component---src-pages-test-3-jsx-d25faba175d880b3476b.js.map
  index.html
  page-data/app-data.json
  test_1/index.html
  test_2/index.html
  test_3/index.html
  webpack-runtime-14c9f5cf9935c9e5ef71.js
  webpack-runtime-14c9f5cf9935c9e5ef71.js.map
  webpack-runtime-a421e215657bf14844da.js
  webpack-runtime-a421e215657bf14844da.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix

deploy: ac8d2b2907770897e5baa45920c0607778e2fa42
  chunk-map.json
  commons-4d2351d470eca4082525.js
  commons-4d2351d470eca4082525.js.map
  commons-778d6233f8619d2af7d1.js
  commons-778d6233f8619d2af7d1.js.map
  component---src-pages-index-jsx-43dbe352d6fb4c5a2959.js
  component---src-pages-index-jsx-43dbe352d6fb4c5a2959.js.map
  component---src-pages-index-jsx-e1f44f5029be8e94a573.js
  component---src-pages-index-jsx-e1f44f5029be8e94a573.js.map
  component---src-pages-test-2-jsx-9fc7e330ce6b7f9e8656.js
  component---src-pages-test-2-jsx-9fc7e330ce6b7f9e8656.js.map
  component---src-pages-test-2-jsx-e134ac514100c7da4431.js
  component---src-pages-test-2-jsx-e134ac514100c7da4431.js.map
  component---src-pages-test-3-jsx-ae2e9dfe3437cc1ceb20.js
  component---src-pages-test-3-jsx-ae2e9dfe3437cc1ceb20.js.map
  component---src-pages-test-3-jsx-d25faba175d880b3476b.js
  component---src-pages-test-3-jsx-d25faba175d880b3476b.js.map
  index.html
  page-data/app-data.json
  styles.0bdf3632b0ad5afc07aa.css
  styles.e689ad47b65dff054bf6.css
  test_1/index.html
  test_2/index.html
  test_3/index.html
  webpack-runtime-388648f4750c12ed8c89.js
  webpack-runtime-388648f4750c12ed8c89.js.map
  webpack-runtime-a421e215657bf14844da.js
  webpack-runtime-a421e215657bf14844da.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

deploy: e7290a237238086dfde028a2690cb3dad4725b74
  app-c3c3534b29a2446c028a.js
  app-c3c3534b29a2446c028a.js.map
  app-c90ea8b2bf4f8139247b.js
  app-c90ea8b2bf4f8139247b.js.map
  chunk-map.json
  commons-4d2351d470eca4082525.js
  commons-4d2351d470eca4082525.js.map
  commons-8aabc2f92962d2668288.js
  commons-8aabc2f92962d2668288.js.map
  component---src-pages-index-jsx-43dbe352d6fb4c5a2959.js
  component---src-pages-index-jsx-43dbe352d6fb4c5a2959.js.map
  component---src-pages-index-jsx-91a5ef3a6fa97935cea3.js
  component---src-pages-index-jsx-91a5ef3a6fa97935cea3.js.map
  component---src-pages-test-2-jsx-02031a5d7c43e75957c6.js
  component---src-pages-test-2-jsx-02031a5d7c43e75957c6.js.map
  component---src-pages-test-2-jsx-9fc7e330ce6b7f9e8656.js
  component---src-pages-test-2-jsx-9fc7e330ce6b7f9e8656.js.map
  component---src-pages-test-3-jsx-ae2e9dfe3437cc1ceb20.js
  component---src-pages-test-3-jsx-ae2e9dfe3437cc1ceb20.js.map
  component---src-pages-test-3-jsx-d30596bdc4f811108e15.js
  component---src-pages-test-3-jsx-d30596bdc4f811108e15.js.map
  index.html
  page-data/app-data.json
  styles.dec929f40f88ccfe4f80.css
  styles.e689ad47b65dff054bf6.css
  test_1/index.html
  test_2/index.html
  test_3/index.html
  webpack-runtime-388648f4750c12ed8c89.js
  webpack-runtime-388648f4750c12ed8c89.js.map
  webpack-runtime-521fb9e9897d725978a3.js
  webpack-runtime-521fb9e9897d725978a3.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

feat: new workflow design
  src/components/nodes/async_task.jsx
  src/components/nodes/base.jsx
  src/components/nodes/condition.jsx
  src/components/nodes/finish.jsx
  src/components/nodes/rule.jsx
  src/components/nodes/start.jsx
  src/components/nodes/sync_task.jsx
  src/data/workflow_1.json
  src/data/workflow_2.json
  src/pages/index.jsx
  src/pages/test_2.jsx
  src/pages/test_3.jsx
  src/styles.scss
Due: prettier --write, eslint --fix, stylelint --fix

deploy: 291f73f0efb45cfd2a89712838b25faec5358458
  app-4b446c5ab23ca2a8d60f.js
  app-4b446c5ab23ca2a8d60f.js.map
  app-c3c3534b29a2446c028a.js
  app-c3c3534b29a2446c028a.js.map
  chunk-map.json
  commons-6a6e288d86fa45c86ae7.js
  commons-6a6e288d86fa45c86ae7.js.map
  commons-8aabc2f92962d2668288.js
  commons-8aabc2f92962d2668288.js.map
  component---src-pages-index-jsx-91a5ef3a6fa97935cea3.js
  component---src-pages-index-jsx-91a5ef3a6fa97935cea3.js.map
  component---src-pages-index-jsx-fd4488b1af1a36fb4565.js
  component---src-pages-index-jsx-fd4488b1af1a36fb4565.js.map
  component---src-pages-test-2-jsx-02031a5d7c43e75957c6.js
  component---src-pages-test-2-jsx-02031a5d7c43e75957c6.js.map
  component---src-pages-test-2-jsx-29e8977b324767c38569.js
  component---src-pages-test-2-jsx-29e8977b324767c38569.js.map
  component---src-pages-test-3-jsx-910930432f2ecfe4856e.js
  component---src-pages-test-3-jsx-910930432f2ecfe4856e.js.map
  component---src-pages-test-3-jsx-d30596bdc4f811108e15.js
  component---src-pages-test-3-jsx-d30596bdc4f811108e15.js.map
  index.html
  page-data/app-data.json
  styles.d546a9d6ad107bd5a2ec.css
  styles.dec929f40f88ccfe4f80.css
  test_1/index.html
  test_2/index.html
  test_3/index.html
  webpack-runtime-521fb9e9897d725978a3.js
  webpack-runtime-521fb9e9897d725978a3.js.map
  webpack-runtime-9d2da4cf1f5e9c8d2e89.js
  webpack-runtime-9d2da4cf1f5e9c8d2e89.js.map
  webpack.stats.json
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.js{,x}
  stylelint --fix: any of: *.{,s}css
